@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}

body{
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
    /* background-position: cover; */

}

.header{
    padding-top: 25px;
    padding-left:190px
}

.main-content{
    display: flex;
    padding-left: 100px;
    padding-top: 90px;
    padding-bottom: 50px;
}


.main-img{
    padding-left:100px;
}

.main-img img{
    height:600px
}

.text{
    text-align: left;
    padding-left: 70px;
    
}

.text h1{
    font-weight: 900;
    font-size:2.5rem;
    text-align: left;
    padding-top:15px;
    padding-left: 15px;
}
.text p{
    text-align: left;
    font-size:1.25rem;
    padding-left:20px;
    width: 600px;
    height: 130px;
    line-height: 1.6 
    
}
button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    
    padding: 15px 72px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}
button:hover{
    filter: drop-shadow(10px 10px 0.75rem rgb(46, 46, 46));
    transition: .5s ease-in-out;
    background-color:hsl(300, 69%, 71%);
    color:white;
}


.socials{
    padding-bottom: 10px;
    text-align:right;
    padding-right: 200px !important;
}


.icons{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 20px; 
    width: 25px;
    height: 25px;  
    align-items: center;
 
}

.icons:hover{
    background-color:hsl(300, 69%, 71%);
    color:hsl(300, 69%, 71%)!important;
}


@media screen and (max-width: 414px){
    body{
         /* background-color: lightgreen; */
         margin:0;
         padding:0
    }
    .header{
        padding-top:30px;
        padding-left: 20px;
    }
    .header img{
        height:50px
    }
    .main-content{
        display:block;
        padding-left: 0;
        padding-top: 30px;
       
    }
    .main-img{
        padding:0;
    }
    .main-img img{
        height: 250px;
        padding:20px;
    }
    .text{
        padding:20px;
        text-align: center;
        
    }
    .text h1{
        text-align: center;
        font-size:1.8rem
    }

    .text p{
        text-align: center;
        height:auto;
        width:auto;
        padding:20px;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
        text-align: center;
        padding: 20px !important;
    }

}